html, body {
    margin:0;
    padding:0;
    background-color: #a29bfe;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#Head {
    background-color: #dfe6e9;
    text-align: center;
    max-height: 150px;
    width: 100%;
}

#Body {
    position: relative;
    background-color: white;
    width:1000px;
    left: 50%;
    margin: 0 auto auto -500px;
    min-height: 500px;
    flex: 1 0 auto;
}

#Foot {
    position: relative;
    background-color: #dfe6e9;
    text-align: center;
    height: 100px;
    line-height: 100px;
    flex-shrink:0;
    width: 100%;
    background-color: #dfe6e9;
}

.lis-form {
    list-style: none;
}

.lis {
    margin: 0;
}

li {
    margin-bottom: 5px;
}

.li > .name {
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type="text"] {
    width: 500px;
    height: 25px;
}

textarea {
    width: 500px;
    height: 50px;
}

.message {
    color:red;
}

.btn {
    margin-top: 10px;
    margin-left: 40px;
}

.btn div{
    display: inline-block;
    margin-right: 20px;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}